<div class="single">
  <div class="container">
    <div class="single-grids">
      <div class="col-md-4 single-grid1">
        <h2>account</h2>
        <ul>
          <li><a [routerLink]="['/ecommerce/login']">login</a></li>
          <li><a [routerLink]="['/ecommerce/register']">Register</a></li>
          <li><a [routerLink]="['/ecommerce/login']">Forgot Your Password</a></li>
          <li><a [routerLink]="['/ecommerce/account']">my account</a></li>
          <li><a [routerLink]="['/ecommerce/login']">address books</a></li>
          <li><a [routerLink]="['/ecommerce/login']">wishlist</a></li>
          <li><a [routerLink]="['/ecommerce/login']">order history</a></li>
          <li><a [routerLink]="['/ecommerce/login']">downloads</a></li>
          <li><a [routerLink]="['/ecommerce/login']">reward points</a></li>
          <li><a [routerLink]="['/ecommerce/login']">return</a></li>
          <li><a [routerLink]="['/ecommerce/login']">transaction</a></li>
          <li><a [routerLink]="['/ecommerce/login']">newsletter</a></li>
          <li><a [routerLink]="['/ecommerce/login']">recurring payments</a></li>
        </ul>
      </div>
      <div class="col-md-4 single-grid">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="images/si.jpg">
              <div class="thumb-image"> <img src="assets/images/si.jpg" data-imagezoom="true" class="img-responsive"> </div>
            </li>
            <li data-thumb="images/si1.jpg">
              <div class="thumb-image"> <img src="assets/images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>
            </li>
            <li data-thumb="images/si2.jpg">
              <div class="thumb-image"> <img src="assets/images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 single-grid simpleCart_shelfItem">
        <h3>Obey Wasted Years Camo Zip Bandeau Bikini Top</h3>
        <p>Condition  New With the boom of the swimwear market, there are so many places providing swimming costumes that you may not know where to look first. If you want to facilitate your search, drop in at our one-stop store, and you’ll be able to equip yourself properly for water activities.</p>
        <ul class="size">
          <h3>Size</h3>
          <li><a href="#">25</a></li>
          <li><a href="#">26</a></li>
          <li><a href="#">27</a></li>
          <li><a href="#">28</a></li>
          <li><a href="#">29</a></li>
          <li><a href="#">30</a></li>
          <li><a href="#">31</a></li>
          <li><a href="#">32</a></li>
          <li><a href="#">33</a></li>
        </ul>
        <ul class="size">
          <h3>Length</h3>
          <li><a href="#">32</a></li>
          <li><a href="#">34</a></li>
        </ul>
        <div class="galry">
          <div class="prices">
            <h5 class="item_price">$95.00</h5>
          </div>
          <div class="rating">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <p class="qty"> Qty :  </p><input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
        <div class="btn_form">
          <a href="#" class="add-cart item_add">ADD TO CART</a>
        </div>
        <div class="tag">
          <p>Category : <a href="#"> Bikinis </a></p>
          <p>Tag : <a href="#"> Lorem ipsum </a></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
